body{
margin:0;
overflow:hidden;
font-family:Arial;
background:black;
color:white;
text-align:center;
}

canvas{
display:block;
}

#menu, #gameOver{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

#gameOver{
display:none;
}

h1{
font-size:48px;
margin-bottom:10px;
}

button{
padding:12px 25px;
font-size:18px;
border:none;
border-radius:6px;
background:#00eaff;
cursor:pointer;
}

button:hover{
background:#00c6d8;
}