body{
margin:0;
overflow:hidden;
background:linear-gradient(to bottom,#000010,#000030);
font-family:Arial;
color:white;
text-align:center;
}

canvas{
display:block;
}

#menu{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

button{
padding:12px 20px;
font-size:18px;
background:#00eaff;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#00bcd4;
}